
# Outputs
src/**/*.js
src/**/*.js.map
# NOTE: need type definitions for the code to work!
# src/**/*.d.ts

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
schematics/
dist
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
